{% extends 'base.html' %}
{% load static %}

{% block content %}
    
       
   
            <!-- End of Latest Journals -->

            <!--About Section-->
            <section class="about-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">
                        {% for content in contents %}
                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-lg-5 mb-4" style="text-transform:capitalize;">{{ content.header }}</h2>
                        </div>

                        <div class="col-lg-12 col-12 me-auto mb-4 mb-lg-0">
                            <p style="text-align:justify;">{{ content.body }}</p>
                           
                        </div>
                        {% endfor %}

                        <div class="mx-auto col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">

     
                        </div>

                        {% for picture in pictures %}
                        <div class="mx-auto col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0" style="margin:auto;width:200px;">

                            <div class="member-block">
                                <div class="member-block-image-wrap"  >
                                    <img src="{{ picture.header_image.url }}" class="member-block-image img-fluid" alt="">  
                                </div>

                             
                            </div>
                        </div>
                        {% endfor %}

                        
                        <div class="mx-auto col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">

     
                        </div>


                    </div>
                </div>
            </section>
            <!--end block-->
            


  



            <section class="contact-section section-padding" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12  mx-auto">
                            <form action="{% url 'contact_message' %}" method="post" class="custom-form contact-form" role="form">
                                {% csrf_token %}
                                <h2 class="mb-4 pb-2">Contact Vunoklang</h2>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="name" id="full-name" class="form-control" placeholder="Full Name" required>
                                            
                                            <label for="floatingInput">Full Name</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12"> 
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
                                            
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-12"> 
                                        <div class="form-floating">
                                            <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                            
                                            <label for="floatingInput">Subject</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
                                            
                                            <label for="floatingTextarea">Message</label>
                                        </div>

                                        <button type="submit" class="form-control">Submit Form</button>
                                    </div>
                                </div>
                            </form>

                            <div class = "form-group">
                                {% if messages %}
                              
                                  {% for message in messages %}
                                  {% if message.tags == 'error' %}
                                  <div style = "margin-top:10px;" class = "alert alert-danger">{{ message }}</div>
                                  {% endif %}
                  
                                  {% if message.tags == 'success' %}
                                  <div style = "margin-top:10px;" class = "alert alert-success">{{ message }}</div>
                                  {% endif %}
                  
                                  {% endfor %}
                              
                      
                                {% endif %}
                            </div>
    
                        </div>

                 

                    </div>
                </div>
            </section>
       
{% endblock %}
    