
{% extends 'base.html' %}
{% load static %} 
{% block content %} 
 
    

            <section class="events-section events-detail-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">
                        {% for editor in editorial_members%}
                        {% if editor.editor == "chief_editor" %}
                        <div class="col-lg-6 col-md-8 col-12 mx-auto">
                            <h2 class="mb-lg-5 mb-4">EDITORIAL BOARD MEMBERS
 
                            </h2>
                            {% comment %} 
                            <div class="custom-block-image-wrap">
                                <img src=" {% static 'images/professional-golf-player.jpg' %}" class="custom-block-image img-fluid" alt="">
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0 "> {% endcomment %}
                                <div class="member-block">
                                    <div class="member-block-image-wrap custom-block-image-wrap">
                                        {% if editor.image %}
                                        <img src="{{editor.image.url}}" class="member-block-image custom-block-image  img-fluid" alt="{{ editor.name }}" >
                                        {% else %}
                                        <img src="{% static 'images/icon.png' %}" class="member-block-image img-fluid" alt="{{ editor.name }}" height="400" width="900">

                                        {% endif %}
                                        
                                         <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="mailto:{{editor.email}}" class="social-icon-link bi-envelope"></a>
                                            </li>
    
                                            <li class="social-icon-item">
                                                <a href="tel:+{{editor.whatsapp}}" class="social-icon-link bi-whatsapp"></a>
                                            </li>
                                        </ul> 
                                    </div>
                                    
                                </div>
                            {% comment %} </div> {% endcomment %}

                            <div class="custom-block-info text-center">
                                <h3 class="mb-3">{{ editor.name }}</h3>

                                <p>Editor-in-Chief.</p>

                                <p >{{ editor.department }}.</p>
                                <p >{{editor.institution}}.</p>
                                
            
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </section>
            <section class="events-section events-listing-section section-bg section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-3">Editorial Board Members</h2>
                        </div>

                        <div class="row custom-block mb-3">
                            {% for editor in editorial_members%}
                            {% if editor.editor == "editorial_board" %}
              
                            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0 ">
                                <div class="member-block">
                                    <div class="member-block-image-wrap custom-block-image-wrap">
                                        {% if editor.image %}
                                        <img src="{{editor.image.url}}" class="member-block-image img-fluid" alt="{{ editor.name }}" height="400" width="900">
                                        {% else %}
                                        <img src="{% static 'images/icon.png' %}" class="member-block-image img-fluid" alt="{{ editor.name }}" height="400" width="900">

                                        {% endif %}

                                         <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="mailto:{{editor.email}}" class="social-icon-link bi-envelope"></a>

                                            </li>
    
                                            <li class="social-icon-item">
                                                <a href="tel:+{{editor.whatsapp}}" class="social-icon-link bi-whatsapp"></a>

                                            </li>
                                        </ul> 
                                    </div>
                                    
                                </div>
                            </div>
                          

                            <div class="col-lg-6 col-12 order-3 order-lg-0">
                                <div class="custom-block-info mt-2 mt-lg-0">
                                    <a href="event-detail.html" class="events-title mb-3">{{ editor.name }}</a>

                                    <p class="mb-0">{{ editor.department }}.</p>
                                    <p class="mb-0">{{editor.institution}}.</p>

                          
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-lg-12 col-12 mt-3">
                            <h2 class="mb-3">Consulting Editors</h2>
                        </div>

                        {% for editor in editorial_members%}
                        {% if editor.editor == "consulting_editor" %}
                        <div class="row custom-block custom-block-bg">
                        
                            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0 ">
                                <div class="member-block">
                                    <div class="member-block-image-wrap custom-block-image-wrap">
                                        {% if editor.image %}
                                        <img src="{{editor.image.url}}" class="member-block-image img-fluid" alt="{{ editor.name }}" height="400" width="900">
                                        {% else %}
                                        <img src="{% static 'images/icon.png' %}" class="member-block-image img-fluid" alt="{{ editor.name }}" height="400" width="900">

                                        {% endif %}
                                         <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="mailto:{{editor.email}}" class="social-icon-link bi-envelope"></a>
                                            </li>
    
                                            <li class="social-icon-item">
                                                <a href="tel:+{{editor.whatsapp}}" class="social-icon-link bi-whatsapp"></a>
                                            </li>
                                        </ul> 
                                    </div>
                                    
                                </div>
                            </div>
                          
                            
                            <div class="col-lg-6 col-12 order-3 order-lg-0">
                                <div class="custom-block-info mt-2 mt-lg-0">
                                    <a href="event-detail.html" class="events-title mb-3">{{ editor.name }}</a>

                                    <p class="mb-0">{{editor.institution}}.</p>
s
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </section>
       

{% endblock %}
